@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');
/* this imports the google fonts that's required to use */

body {
  background-color: #e9e9e9;
  font-family: 'Josefin Sans', sans-serif;
  color: #1f2937;
  line-height: 1.6;
  margin: 0;
  padding: 12px;
}

main {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}
/* this is the white content container where it separates the content from the page background and giving it rounded corners, shadow, and to center it */

header {
    text-align: center;
    padding: 10px 12px;

}
/* centers header content and adds padding so the top of the page doesnt feel squashed */

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
  border: 1px solid #aaa;
  font-size: 12px;
  color: gray;
}
/* this makes the original image which is a square turn to a circle */

nav {
    margin-bottom: 20px;
}
/* gives spacing below the nav links to separate from the rest of the content  */

nav a {
  text-decoration: none;
  color: #555;
  margin: 0 8px;
  font-size: 14px;
}
/* styles the hyperlinks of the 3 links there */

nav a:hover {
    color: #2563eb;
}

h1, h2, h3 {
    font-family: "Protest Guerrilla", sans-serif;
    color: #14181d;
    font-weight: 400;
    text-align: center;
}
/* the headings uses a specific font which is a requirement */

h1 {
    font-size: 2rem;
    padding-top: 12px;
    margin-bottom: -20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 24px;
    margin-bottom: 12px;
}



p{
    margin-bottom: 16px;
}

section {
    padding: 12px;
}
/* to separate the content blocks so that it doesn't touch the edges of the screen */

.album-cover {
  background-color: #f3f4f6;
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* makes a visual container for album images with a background and rounded corners */

.album-cover img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
}
/* makes the images responsive and keeps their aspect ratio and fits nicely on the screen */
.author {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    margin-top: 12px;
}

.author img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 12px;
}
/* showcases the authors photo in a circle and maintaining the appropriate size */

footer {
    background-color: #14181d;
    color: #bbb;
    text-align: center;
    padding: 20px 12px;
    margin-top: 0;
    border-top: 1px solid #222;
}